ShowdownAI.Middleware/ShowdownAI.Middleware/bin/
ShowdownAI.Middleware/ShowdownAI.Middleware/obj/
ShowdownAI.Middleware/.vs
node_modules
.env
ShowdownAI.Middleware/packages/
ShowdownAI.Middleware/UnitTests/bin/
ShowdownAI.Middleware/UnitTests/obj/
